<%= form_for([@customer, @gift_certificate]) do |f| %>
    <% if @gift_certificate.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@gift_certificate.errors.count, "error") %> prohibited this Gift Certificate from being saved:</h2>

          <ul>
            <% @gift_certificate.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

     <%= f.fields_for :prices do |price| %>
       <%= price.label :amount, 'Certificate Amount' %><br />
       <%= price.number_field :amount, value: number_with_precision(@gift_certificate.prices.last.amount, precision: 2) %><br />
     <% end %>
     
     <div class="field">
       <%= f.label :initial_comment, "Certificate Comment" %><br />
       <%= f.text_area :initial_comment %>
     </div>
    <br />   
    <div class="actions">
      <%= f.submit %>
    </div>

<% end %>
