<%= provide(:title, "Active Marketing Campaigns") %>
<h2>Active Marketing Campaigns</h2>

<table class='table table-bordered' id='active_campaigns'>
  <thead>
    <tr>
      <th>Campaign Title</th>
      <th>Percentage Off</th>
      <th>Start date</th>
      <th>Expiration date</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @active_campaigns.each do |campaign| %>
      <tr>
        <td><%= link_to campaign.name, [campaign.business, campaign] %></td>
        <td><%= campaign.percentage %></td>
        <td><%= campaign.start_date.to_date.strftime("%m/%d/%Y") %></td>
        <td><%= campaign.expiration_date.to_date.strftime("%m/%d/%Y") %></td>
        <td><%= link_to "Edit", edit_business_campaign_path(@business, campaign), class: 'btn btn-primary' %></td>
        <td><%= link_to 'Delete', [@business, campaign], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      
      </tr>
    <% end %>
  </tbody>
</table>
<br>
  <%= link_to "See all campaigns", business_campaigns_path(@business) %> | 
  <%= link_to "See completed campaigns", completed_campaigns_business_path(@business) %> |
  <%= link_to "Return to main business page", [@owner, @business] %>