<%= provide(:title, "All Gift Certificates Sold") %>

<h2>All Gift Certificates Sold</h2>

<table class='table table-bordered' id='gift_certificates'>
  <thead>
    <tr>
      <th>Certificate Number</th>
      <th>Amount</th>
      <th>Redeemed?</th>
      <th>Date Redeemed</th>
      <th>Purchased By</th>
      <th>Purchased On</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @gift_certificates.each do |gc| %>
      <tr>
        <td><%= link_to gc.certificate_number, [gc.customer, gc] %></td>
        <td><%= number_to_currency(gc.prices.last.amount) %></td>
        <td>
          <% if gc.active? %>
            No
          <% else %>
            Yes
          <% end %>
        </td>
        <td><%= gc.date_redeemed ? gc.date_redeemed.to_date.strftime("%m/%d/%Y") : "" %></td>
        <td><%= gc.customer.name %></td>
        <td><%= gc.created_at.to_date.strftime("%m/%d/%Y") %></td>
        <td><%= link_to "Edit", [:edit, gc.customer, gc] %></td>
        <td><%= link_to "Redeem", [:redeem, gc.business, gc] %></td>
 
      
      </tr>
    <% end %>
  </tbody>
</table>

<br>
     <%= link_to "Return to main business page", [@owner, @business] %>