<%= provide(:title, "#{@business.name} Profile Page") %>
<div class="row">
	<div class="col-md-2">
  	<div class="panel panel-success">
    	<div class="panel-heading">
      	<b>Business Information</b><%= link_to "Edit", edit_owner_business_path(@owner, @business), class: 'pull-right' %>
      </div>
      <div class="panel-body">
        <b>Business: </b>
        <%= link_to @business.name, edit_owner_business_path(@owner, @business) %><br />
        <% if @business.packages.count == 0 %>
          <%= link_to "Add new package", new_business_package_path(@business) %>
        <% else %>
          <%= link_to "Packages - " + @business.packages.count.to_s, business_packages_path(@business) %><br />
        <% end %>
        <%= link_to "Gift Certificates", gift_certificates_business_path(@business) %>
      <p><br>
        <%= link_to "Delete", [@owner, @business], data: { :confirm => "Are you sure?" }, method: :delete, class: 'pull-right' %>
     </div>
     
     <% if @business.services.count == 0 %>
     <div class="panel panel-danger">
       <div class="panel-heading">
         <b>Services Information</b><%= link_to "Add", new_business_service_path(@business), class: 'pull-right' %>
       </div>
       <div class="panel-body">
         <p>Please tell us what types of services your business provides.</p>
         <%= link_to "Add a service your business provides now!", new_business_service_path(@business) %>
       </div>
     </div>
     <% else %>
     <div class='panel panel-success'>
       <div class="panel-heading">
         <b>Services Information</b><%= link_to "Add", new_business_service_path(@business), class: 'pull-right' %>
       </div>
       <div class="panel-body">
         <%= link_to "Number of services:", business_services_path(@business) %> <%= link_to @business.services.count, '#' %>
       </div>
     </div>
     <% end %>

    <% if @business.customers.count >= 1 %>
      <div class="panel panel-success">
      <div class="panel-heading">
        <b>Customer Information</b><%= link_to "Add", new_business_customer_path(@business), class: 'pull-right' %>
      </div>
      <div class="panel-body">
        <%= search_form_for @q, url: search_business_customers_path(@business), method: :post do |f| %>
			    <%= f.label :first_name_or_last_name_or_email_cont, "Find customer" %>
			    <%= f.text_field :first_name_or_last_name_or_email_cont %>
			    <%= f.submit "Find" %>
		    <% end %>
        <%= link_to "Customers: ", business_customers_path(@business) %><%= @business.customers.count %><br />
        <%= link_to "Total Customer Visits: " + @business.visits.count.to_s, visits_business_path(@business) %><br />
        <%= link_to "Comps", comps_business_path(@business) %><br />
        <%= link_to "Contact Customers", new_business_notification_path(@business) %>
      </div>
      </div>
      
    <% end %>


     </div>
    
  </div>


  <div class="col-md-10">
  <% if @business.customers.count == 0 %>
    <div class="panel panel-danger">
      <div class="panel-heading">
        <b>Customer Information</b>
      </div>
      <div class="panel-body">
        <p>
          You have not yet added any customers.
        </p>
        <p><%= link_to "Add a customer for your business now!", new_business_customer_path(@business) %></p>
      </div>
      <%= link_to "Back to owner page", @owner %>
    </div>

  <% elsif @business.visits.count == 0 %>
    <div class="panel panel-danger">
      <div class="panel-heading">
        <b>Customer Information</b>
      </div>
      <div class="panel-body">
        <p>You have added customers but not entered a visit for any of them.</p>
        <p>We will put all customers you've had visits with on this page.</p>
        <p>Please search for your customer who has had a visit to your left to add a visit.</p>
      </div>
    </div>
  
  <% else %>
 
    <h3><%= @business.name %> - Customers with recent visits.</h3>
    <h6>This search only finds customers with visits.   If you need to find a customer for a first visit, use the "Find customer" field on the left.</h6>
      <table class="table table-condensed table-striped table-bordered" id="customers">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Visits</th>
            <th>Amount Spent</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @visiting_customers.each do |customer| %>
          <tr>
            <td><%= link_to customer.first_name.capitalize, [@business, customer] %></td>
            <td><%= customer.last_name.capitalize %></td>
            <td><%= customer.email %></td>
            <td><% customer.phones.each do |phone| %>
                  <%= number_to_phone(phone.number, area_code: true) %><br />
                <% end %>
            </td>
            <td><%= link_to customer.visits.count, new_customer_visit_path(customer) %></td>
            <td><%= total_customer_spend(customer) %></td>
            <td><%= link_to 'Edit', edit_business_customer_path(@business, customer), class: 'btn btn-primary' %></td>
            <td><%= link_to 'Delete', [@business, customer], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
          </tr>
          <% end %>
        </tbody>
        </table>   
      </div>
    </div> 

    <div class="row">
      <div class="col-md-6 col-md-offset-1">
        <%= link_to 'Edit', edit_owner_business_path(@owner, @business) %> |
        <%= link_to 'Back to owner page', @owner %>
      </div>
 
  <% end %>


  </div>

</div>