<%= provide(:title, "Add a visit for " + @customer.name) %>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <legend>New visit for <%= @customer.name %></h2></legend>
    <%= render 'form' %><br />
    <p><%= link_to 'Back to business page', owner_business_path(@owner, @business) %> |
    <%= link_to 'Back to customer view', business_customer_path(@business, @customer) %></p>
  </div>
</div>