<%= provide(:title, "#{@business.name} Customers List") %>
<div class="row">
	<div class="col-md-12">
		<% if @business.customers.count > 0 %>
			<h2>Complete Customer List for <%= @business.name %></h2>
			 <%= search_form_for @q, url: business_customers_path(@business) do |f| %>
			   <%= f.label :first_name_or_last_name_or_email_or_name_cont, "Find customer" %>
			   <%= f.text_field :first_name_or_last_name_or_email_or_name_cont %>
			   <%= f.submit "Find", class: 'btn btn-primary' %>
		  <% end %>
      <table class="table table-condensed table-striped table-bordered" id="ransack">
        <thead>
          <tr>
            <th><%= sort_link @q, :first_name, "First Name" %></th>
            <th><%= sort_link @q, :last_name, "Last Name" %></th>
            <th><%= sort_link @q, :email, "Email" %></th>
            <th>Phone</th>
            <th>Visits</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @customers.each do |customer| %>
          <tr>
            <td><%= link_to customer.first_name, [@business, customer] %></td>
            <td><%= customer.last_name %></td>
            <td><%= customer.email %></td>
            <td><% customer.phones.each do |phone| %>
                  <%= number_to_phone(phone.number, area_code: true) %><br />
              <% end %>
            </td>
            <td><%= link_to customer.visits.count, new_customer_visit_path(customer) %></td>
            <td><%= link_to 'Edit', edit_business_customer_path(@business, customer), class: 'btn btn-primary' %></td>
            <td><%= link_to 'Delete', [@business, customer], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
          </tr>
        <% end %>
        </tbody>
        </table>
    		<div class="col-md-6 col-md-offset-1">
       		<%= link_to 'New Customer', new_business_customer_path(@business) %> |
    			<%= link_to 'Back', [@owner, @business] %>
      	</div>
    <% else %>
    		<p><%= @business.name %> has not added any customers.  Please do so now.</p>
		<% end %>
		
	</div>
</div>