<%= form_for([@customer, @deal]) do |f| %>
    <% if @deal.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@deal.errors.count, "error") %> prohibited this package deal from being saved:</h2>

          <ul>
            <% @deal.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :package_id, "Package Name" %><br />
      <%= f.collection_select(:package_id, @business.packages.all, :id, :name) %>
    </div>

    <div class="field">
        <%= f.label :date_purchased, "Date Purchased" %><br />
        <%= f.date_select(:date_purchased, order: [:month, :day, :year]) %>
    </div>
    
    <div class="field">
        <%= f.label :used_count, "Remaining Visits" %><br />
        <%= f.text_field(:used_count) %>
    </div>
    
  
    <div class="actions">
      <%= f.submit %>
    </div>

<% end %>
