<%= provide(:title, "All Marketing Campaigns") %>
<h2>All Marketing Campaigns</h2>

<table class='table table-bordered' id='all_campaigns'>
  <thead>
    <tr>
      <th>Campaign Title</th>
      <th>Percentage Off</th>
      <th>Start date</th>
      <th>Expiration date</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @campaigns.each do |campaign| %>
      <tr>
        <td><%= link_to campaign.name, [campaign.business, campaign] %></td>
        <td><%= campaign.percentage %></td>
        <td><%= campaign.start_date.to_date.strftime("%m/%d/%Y") %></td>
        <td><%= campaign.expiration_date.to_date.strftime("%m/%d/%Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
  <%= link_to "See active campaigns", active_campaigns_business_path(@business) %> | 
  <%= link_to "See completed campaigns", completed_campaigns_business_path(@business) %> |
  <%= link_to "Return to main business page", [@owner, @business] %>